body {
    font-family: Arial, sans-serif;
    background: #f0f2f5;
    text-align: center;
}

.container {
    margin-top: 60px;
    padding: 20px;
}

input {
    width: 85%;
    padding: 12px;
    margin: 8px;
    border-radius: 8px;
    border: 1px solid #aaa;
}

button {
    width: 85%;
    padding: 14px;
    background: #0088cc;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
}
button:hover {
    opacity: .9;
}

#status {
    margin-top: 10px;
    font-size: 16px;
}
