body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    text-align: center;
}

.container {
    margin-top: 40px;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
    color: #222;
}

input {
    width: 90%;
    padding: 14px;
    margin-top: 12px;
    border-radius: 12px;
    border: 1px solid #ccc;
    font-size: 16px;
}

button {
    width: 90%;
    padding: 15px;
    margin-top: 18px;
    background: #2481cc;
    color: white;
    border: none;
    border-radius: 14px;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

button:hover {
    opacity: .95;
}

#status {
    margin-top: 15px;
    font-size: 16px;
}

.btn {
    width: 200px;
    padding: 12px;
    margin: 10px;
    border: none;
    background: #0088cc;
    color: white;
    font-size: 18px;
    border-radius: 8px;
}

